.ipynb_checkpoints/default-a13e7660-5846-433b-a389-5e674876e852-checkpoint.ipynb
default-a13e7660-5846-433b-a389-5e674876e852.ipynb
__pycache__/getuseragent.cpython-39.pyc
__pycache__/retrieve.cpython-39.pyc
getuseragent/__pycache__/getuseragent.cpython-39.pyc
getuseragent/__pycache__/retrieve.cpython-39.pyc
build/lib/getuseragent/__init__.py
build/lib/getuseragent/getuseragent.py
build/lib/getuseragent/retrieve.py
build/lib/getuseragent/user-agents/android.txt
build/lib/getuseragent/user-agents/bots.txt
build/lib/getuseragent/user-agents/chrome.txt
build/lib/getuseragent/user-agents/edge.txt
build/lib/getuseragent/user-agents/firefox.txt
build/lib/getuseragent/user-agents/ie.txt
build/lib/getuseragent/user-agents/ios.txt
build/lib/getuseragent/user-agents/linux.txt
build/lib/getuseragent/user-agents/mac.txt
build/lib/getuseragent/user-agents/safari.txt
build/lib/getuseragent/user-agents/windows.txt
dist/getuseragent-0.0.1.tar.gz
.vscode/settings.json
getuseragent.egg-info/dependency_links.txt
getuseragent.egg-info/PKG-INFO
getuseragent.egg-info/SOURCES.txt
getuseragent.egg-info/top_level.txt
